<%= form_with model: @blog, local: true do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title, value: blog.title %>
    </div>
    <div>
        <%= form.label :website %>
        <%= form.text_field :website, value: blog.website %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description, value: blog.description %>
    </div>
    <div>
        <%= form.label :revenue %>
        <%= form.number_field :revenue, value: blog.revenue %>
    </div>
    <div>
        <%= form.label :price %>
        <%= form.number_field :price, value: blog.price %>
    </div>
    <div>
        <%= form.label :topic %>

        <% str = ""%>
        <%for i in blog.topics%>
        <% str << i[:name] << ", " %>
        <% end %>
        <%= form.text_field :topic, value: str %>
        
    </div>
    <div>
        <%= form.label :picture %> <%= form.file_field :picture, accept:
        'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>
    <div>
        <%= form.submit %> 
    </div>
<% end %>