<section class="hero is-large is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        BlogTrader
      </h1>
    </div>
    <div class="container has-text-centered" style="width: 250px;">
    <%= search_form_for @q do |f| %>

    <%= f.label :find_a_blog %>
    <%= f.search_field :title_cont, class: "input is-small" %>
    <%= f.submit %>
    <% end %>
  </div>
  </div>
</section>

<div class="section">
    <div class="blog-container">
        <% for blog in @blogs %>
            <div class="card">
                    <div class="card-image"><figure class="image is-4by3"><img <%= image_tag blog.picture if blog.picture.attached? %>></figure></div>
                        <div class="card-header-title"><%=link_to blog.title, blog_path(blog.id) %></div>
                            <div class="card-content">Monthly revenue: $<%= blog.revenue %></div>
            </div>
            </br>
        <%end%>          
    </div>   
</div>
