<section class="hero is-fullheight-with-navbar is-light is-bold">
  <div class="hero-body">
      <div class="container has-text-centered">
        
            <%= search_form_for @q do |f| %>
            <%= f.label :find_a_blog, class: "title", style: "color: white;" %>
            <%= f.search_field :title_cont, class: "input is-medium", placeholder: "Hello, is it me you're looking for?", style: "margin: 15px 0px 15px 0px;" %>
            <%= f.submit :Search, class: "button is-primary" %>
            <% end %>
        
      </div>
  </div>
</section>

<div class="section">
    <div class="listing-container">
        <% for blog in @blogs %>
            <div class="card">
                    <div class="card-image"><figure class="image is-4by3"><img <%= image_tag blog.picture if blog.picture.attached? %>></figure></div>
                        <div class="card-header-title"><%=link_to blog.title, blog_path(blog.id) %></div>
                            <div class="card-content">Monthly revenue: $<%= blog.revenue %></div>
            </div>
            </br>
        <%end%>          
    </div>   
</div>
