
<div class="section">
    <div class="blog-container">
        <% for blog in @blogs %>
            <div class="card">
                 <div class="card-image"><figure class="image is-4by3"><img <%= image_tag blog.picture if blog.picture.attached? %>></figure></div>
                <div class="card-content">
                    <div class="card-header-title"><%=link_to blog.title, blog_path(blog.id) %></div>
                    <div class="content">Monthly revenue: $<%= blog.revenue %></div>
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item"><%= link_to "Edit", edit_blog_path(blog.id) %></div>
                    <div class="card-footer-item">
                    <%= link_to 'Delete', blog_path(blog),
                                                method: :delete,
                                                data: { confirm: 'Are you sure?' } %>
                    </div>
                </footer>
            </div>
            </br>
        <%end%>          
    </div>   
</div>