<div>
    <div class="columns" style="display:flex;">
        <div class="column"></div>
        <div class="column">
            <div class="blog-img" style="width: 350px; height: 450px;"><%= image_tag @blog.picture if @blog.picture.attached?%></div>
        </div>
        <div class="column">
            <h1 class="title"><%= @blog.title %></h1>
            <div class="box"><%= @blog.website %></div>
            <div class="box">$<%= @blog.price %>.00</div>
             <div class="box">Average monthly revenue: $<%= @blog.revenue %>.00</div>
            <div style="margin-top: 10px;"><% for i in @blog_topic %>
                    <div class="tag is-rounded"><%= i[:name]%></div>
                    <% end %></div>
            <% if current_user.id != @blog.user_id %>
            <button data-stripe="payment" class="button is-success">Pay Deposit <%= number_to_currency(@blog.deposit_amount) %></button>
            <% end %>
            <div class="box" style="margin-top: 20px;"><%= @blog.description %></div>
                        
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                document
                    .querySelector("[data-stripe='payment']")
                    .addEventListener("click", () => {
                    const stripe = Stripe(
                        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
                    );

                    stripe.redirectToCheckout({
                        sessionId: "<%= @session_id %>"
                    });
                    });
            </script>
        </div>
        <div class="column"></div>
</div>

