<div>
    <div class="columns" style="display:flex;">
        <div class="column"></div>
        <div class="column">
            <div class="blog-img" style="width: 250px; height: 250px;"><%= image_tag @blog.picture if @blog.picture.attached?%></div>
        </div>
        <div class="column">
            <h1 class="title"><%= @blog.title %></h1>
            <div>$<%= @blog.price %>.00</div>
            <div><%= @blog.website %></div>
            <div><%= @blog.description %></div>
            <div>Average monthly revenue: $<%= @blog.revenue %>.00</div>
            <div style="margin-top: 10px;"><% for i in @blog_topic %>
                    <div class="tag is-rounded"><%= i[:name]%></div>
                    <% end %></div>
            <div class="button" style="margin-top: 15px;">Contact Seller</div>
        </div>
        <div class="column"></div>
</div>
